.DS_Store
.editorconfig
.env
.gitmodules
LICENSE

.history/**
.nyc_output/**
coverage/**
node_modules/**
lib/**

*ignore
*.ttf
*.map
*.log
*.md
*.svg
*.png
*.txt
*.jpg
*.gif
*.diff
*.pem
*.sh

*.css

package-lock.json
yarn.lock
